@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/roboto_condensed/roboto_condensed.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/roboto_condensed/roboto_condensed.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/roboto_condensed/roboto_condensed.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto_condensed/roboto_condensed.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/roboto_condensed/roboto_condensed.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/roboto_condensed/roboto_condensed.svg#roboto_condensed') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Archivo Black Regular';
	src: url('../fonts/archivo_black/archivo_black_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/archivo_black/archivo_black_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/archivo_black/archivo_black_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/archivo_black/archivo_black_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/archivo_black/archivo_black_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/archivo_black/archivo_black_regular.svg#archivo_black_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
/* main-screen start */
.main-screen {
    position: relative;
    padding: 0 0 70px 0;
}
.main-screen__slides {
		display: none;
    width: 100%;
    position: absolute;
    height: 100%;
}
.main-screen__slides_active {
	display: block;
}
.main-screen__wrapper {
    display: flex;
    padding: 0 4.2% 0 0;
}
.main-screen__conteiner {
    display: flex;
}
.main-screen__logo-area {
    position: relative;
    min-height: 100%;
    width: 4.73%;
    padding: 0 21px 0 21px;
    display: flex;
    flex-direction: column;
}

.main-screen__logo {
    margin: 41px auto 0 auto;
}
.main-screen__logo-text-area {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.main-screen__logo-text-area div:first-child {
    margin: 0 0 86px 0;
}
.main-screen__logo-text-item {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 90%;
    color: #FFFFFF;
    opacity: 0.3;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.main-screen__header-area {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 5.5%;
    width: 51.9%;
}
.main-screen__header {
    width: 80%;
    margin: 73px 0 26.3% 0;
}
.main-screen__header-title-text {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: calc(32px + 20 * ((100vw - 320px) / (1280 - 320)));
    word-wrap: break-word;
}
.main-screen__clients-area {
    width: 100%;
}
.main-screen__clients {
    /* width: 30.78%; */
    float: left;
    width: 138px;

}
.main-screen__row-clients div:first-child {
    margin-bottom: 31px;
}
.main-screen__clients-title {
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 12px;
    font-size: calc(42px + 10 * ((100vw - 320px) / (1280 - 320)));
    word-wrap: break-word;
}
.main-screen__clients-subtitle {
    color: #FFFFFF;
    opacity: 0.5;
}
.main-screen__img-area {
    position: relative;
    min-height: 221px;
    width: 62.2%;
    float: right;
}
.main-screen__button {
    position: absolute;
    left: -60px;
    top: -50px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.main-screen__button-img {
    margin-top: 12px;
}
.main-screen__button-text {
    text-decoration: none;
}
.main-screen__img-area-item {
    width: 100%;
    min-height: 221px;
    background: url("../img/main-screne/item_1.png") no-repeat center center;
    /* background-size: 100% 100%; */
    background-size: cover;
  }
.main-screen__nav-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 auto;
}
.main-scren__line-nav-block {
    margin-top: 30px;
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #214AC2;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.main-screen__line-nav {
    transition: 0.7s;
    margin-bottom: 7px;
    width: 19px;
    border: 1px solid #FFFFFF;
}
.main-scren__line-nav-block:hover {
    transform: scale(1.15);
}
.main-scren__line-nav-block div:last-child {
    margin: 0;
}
.change {
    background: #FFFFFF;
}
.change .main-screen__line-nav {
    border-color: #214AC2;;
}
.change div:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-7px, 6.5px);
    transform: rotate(-45deg) translate(-7px, 6.5px);
}
.change div:nth-child(2) {
    opacity: 0;
    transform: translate(-6.5px);
}
.change div:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}
.main-screen__links-nav {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: start;
    align-items: center;
    /* position: absolute; */
    position: fixed;
    /* top: 0; */
    top: -100%;
    left: 0;
    /* height: 0%; */
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all .3s linear;
    background: #214AC2;
    overflow: auto;
    z-index: 2;
}
.main-screen__links-nav.open {
    /* height: 100vh; */
    top: 0%;
}
.main-screen__links-nav li {
    list-style: none;
    margin-bottom: 45px;
}
.main-screen__links-nav li:first-child {
    margin-top: 50px;
}
.main-screen__links-nav li a {
    text-decoration: none;
    font-family: "Archivo Black Regular";
    font-style: normal;
    font-weight: normal;
    /* font-size: 30px; */
    font-size: calc(25px + 5 * ((100vw - 320px) / (1280 - 320)));
    line-height: 90%;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color .5s ease-in-out;
}
.main-screen__links-nav li a:hover {
    color: #837E7E;
}
.main-screen__dots-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-screen__dot {
    display: block;
    width: 4px;
    height: 4px;
    margin-top: 15px;
    background-color: #FFFFFF;
    opacity: 0.5;
    border-radius: 50%;
    transition: all .3s ease;
		cursor: pointer;
}
.main-screen__dot-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #214AC2;
}
/* buton Up */
.button-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 4;
    /* background: #214AC2; */
    background: rgba(33, 74, 194, 0.8);;
    padding: 11px 12px 11px 12px;
    border-radius: 50%;
    /* transition: background .5s ease-in-out; */
    transition: all .3s ease-in-out;
}
.button-up img {
    transition: all .2s ease-in-out;
    transform: scale(0.8)
}
.button-up_show {
    display: block;
}
.button-up:hover {
		background: rgba(102, 96, 96,0.8);
}
.button-up:hover .button-up__img {
		transform: scale(0.9);
}
@media (max-width:500px) {
    .button-up {
        bottom: 11px;
        right: 4px;
        padding: 9px 10px 9px 10px;
    }
}
/* buton Up End */
@media (max-width:1280px) {
    .main-screen__logo-area {
        width: 58px;
    }
}
@media (max-width:1136px) {
    .main-screen__header-area {
        width: 64.9%;
    }
    .main-screen__header {
        width: 77%;
    }
}
@media (max-width:920px) {
    .main-screen__img-area-item {
        display: none;
    }
    .main-screen__button {
        /* left: 156px; */
        left: 50%;
        top: 127px;
    }
}
@media (max-width:788px) {
    .main-screen__button {
        left: 35%;
        top: 30%;
    }
    .button-up {
        transform: scale(0.8);
    }
}
@media (max-width:590px) {
    .main-screen__logo-text-area {
        display: none;
    }
    .main-screen__logo-area {
        width: 0px;
        padding: 0 0 0 21px;
    }
    .main-screen__logo {
        position: absolute;
    }
    .main-screen__header-area {
        margin: 0 0 0 0;
        /* width: 87.9%; */
        width: 73.9%;
    }
    .main-screen__header {
        margin: 104px 0 26.3% 0;
    }
    .main-scren__line-nav-block {
        width: 55px;
        height: 55px;
    }
}
@media (max-width:460px) {
    .main-screen__links-nav {
        align-items: flex-start;
    }
}
@media (max-width:465px) {
    .main-screen__button {
        /* left: 100px;
        top: -35px; */
        left: 45%;
        top: -35px
    }
    .main-screen__img-area {
        min-height: 100px;
    }
    .main-screen__dots-block {
     display: none;
    }
}
@media (max-width:390px) {
    .main-screen__button {
        left: 30%;
        top: -1px;
    }
}
/* main-screen end */

/* Luxury-watch start */
.luxury {
    padding: 100px 0;
    background: #FFFFFF;
}
.luxury__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* max-width: 1114px; */
    width: 88.2%;
    position: relative;
}
.luxury__conteiner {
	display: flex;
	width: 56%;
	justify-content: space-between;
}
.luxury__link::after {
    margin-top: 8px;
    content: " ";
    display: block;
    width: 139px;
    height: 2px;
    background-color:#214AC2;
}
.luxury__img {
    flex-grow: 1;
    background: url(../img/luxury-watch/01.png) center center no-repeat;
    background-size: cover;
}
.luxury__clients {
    position: relative;
    left: -6.95%;
    top: 0;
    margin: 71px 0 71px 0;
    padding: 71px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35.48%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 10px 10px 65px rgba(7, 13, 19, 0.1);
}
.luxury__row-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88%;
    margin-bottom: 49px;
}
.luxury__clients .luxury__row-clients:last-child {
    margin-bottom: 0px;
}
.luxury__clients-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
		width: inherit;
}
.luxury__clients-title {
    width: inherit;
    margin-bottom: 12px;
    color: #020911;
    opacity: 0.9;
    word-wrap: break-word;
    text-align: center;
    font-size: calc(37px + 15 * ((100vw - 320px) / (1280 - 320)));
}
.luxury__clients-subtitle {
    color: #020911;
    opacity: 0.5;
    /* width: 63.594%; */
    width: 81%;
    text-align: center;
    word-wrap: break-word;
}
.luxury__block {
    /* width: 100%; */
    width: 41.03%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-start;
    margin: 56px 0 55px 0;
}
.luxury__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 65px;
}
.luxury__header-title {
    margin-bottom: 12%;
    text-transform: uppercase;
    color: #020911;
    /* word-wrap: break-word; */
}
.luxury__header-title-text {
    word-wrap: break-word;
}
.luxury__header-text {
    width: 100%;
}
@media (max-width: 940px) {
	.luxury__wrapper {
		width: 100%;
		padding-right: 15px;
		box-sizing: border-box;
	}
}
@media (max-width: 840px) {
	.luxury__wrapper {
		flex-direction: column;
		padding: 0 15px;
	}
	.luxury__conteiner {
		order: 2;
		width: 100%;
	}
	.luxury__block {
		order: 1;
		width: 100%;
	}
}
@media (max-width: 600px) {
    .luxury__wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .luxury__block {
        grid-area: 1/1/2/1;
    }
    .luxury__conteiner {
        grid-area: 2/1/3/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
    }
    .luxury__clients {
        position: static;
        grid-area: 1/1/3/2;
        flex-direction: row;
        padding: 40px 20px;
        margin: 0 auto 341px auto;
        width: 87%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    .luxury__row-clients {
        grid-area: 1/1/2/2;
        margin: 0;
    }
    .luxury__row-clients:nth-child(2) {
        grid-area: 1/2/2/3;
    } 
    .luxury__img {
        grid-area: 2/1/3/2;
        min-height: 512px;
        width: 100%;
    }
}
@media (max-width: 500px) {
    .luxury__clients {
        width: 83%;
    }
}
@media (max-width: 400px) {
    .luxury__clients {
        width: 80%;
    }
}
@media (max-width: 350px) {
    .luxury__clients {
        width: 78%;
    }
}
/* Luxury-watch end */

/* Popular-watch start */
    .popular {
        padding: 16px 0 8.5% 0;
        background: #FFFFFF;
    }
    .popular__wrapper {
        max-width: 978px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .popular__header {
        display: inline-block;
        position: relative;
        width: 100%;
        /* margin-bottom: 100px; */
        margin-bottom: 10.48%;
    }
    .popular__button {
        position: absolute;
        left: 204px;
        top: 150px
    }
    .popular__button-text-block {
        margin-bottom: 12px;
    }
    .popular__header-container {
        float: right;
        width: 48.21%;
    }
    .popular__header-title {
        /* margin-bottom: 50px; */
        margin-bottom: 12%;
    }
    .popular__header-title-text {
        word-wrap: break-word;
    }
    .popular__header-text {
        width: 100%;
    }
    .popular__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .popular__row div:nth-child(3n+3) {
        margin-right: 0px;
    }
    .popular__column {
        flex: 0 0 26.266%;
        margin: 0 10.225% 10.3% 0;
    }
    .item-popular {
        position: relative;
        display: flex;
        justify-content: center;
    }
		.item-popular__img {
			transition: transform .3s ease-in-out;
		}
    .item-popular__img-item {
        width: 100%;
        height: auto;
    }
		.item-popular__img:hover {
        transform: scale(1.1);
    }
		.item-popular__img_show {
			transform: scale(1.1);
		}
		.item-popular__img:hover + .item-popular__descr .popular__descr {
				color: #214AC2;
				opacity: 1;
		}
    .item-popular__descr {
        background: #FFFFFF;
        box-shadow: 10px 10px 65px rgba(7, 13, 19, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 79%;
/*
        min-height: 28.78%;
        bottom: -13%;
		padding: 20px 0;
*/
		min-height: 18.78%;
		bottom: -16%;
		padding: 20px 0;
		cursor: pointer;
    }
	.item-popular__descr:hover .popular__descr {
		color: #214AC2;
		opacity: 1;
	}
    .item-popular__descr-text {
        font-family: "Archivo Black Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 90%;
        /* or 14px */
        text-align: center;
        text-transform: uppercase;
        color: #1C2834;
        opacity: 0.4;
    }
    .popular__descr {
        text-decoration: none;
        flex: 0 0 53%;
        transition: color, opacity .3s ease-in-out;
    }
    @media(max-width:1100px) {
        .popular__button {
            left: 134px;
        }
    }
    @media(max-width:768px){
        .popular__header-container {
            width: 100%;
        }
        .popular__button {
            left: 65.86%;
            /* top: 11.51%; */
            top: 0.51%;
        }
    }
    @media (max-width: 550px) {
        .video {
            padding: 0 0 15.5% 0;
            background: #FFFFFF;
        }
        .popular {
            padding: 1.18% 0 6.5% 0;
        }
        .popular__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .popular__header-title-text {
            text-align: center;
        }
        .popular__button {
            position: static;
            margin-bottom: 13%;
        }
        .popular__row {
            display: block;
            order: 3;
            text-align: center;
        }
        .popular__column {
            display: inline-block;
            margin: 0 0 100px 0;
        }
        .popular__button {
            position: static;
            order: 2;
        }
        .popular__header {
            margin-bottom: 12%;
            order: 1;
        }
    }
/* Popular-watch end */

/* video start */
.video {
    /* padding: 7.5% 0 15.5% 0; */
    padding: 3.6% 0 15.5% 0;
    background: #FFFFFF;
}
 .video__wrapper {
     max-width: 957px;
     padding: 0 15px;
     margin: 0 auto;
 }
 .video__header {
     position: relative;
 }
 .video__header-item {
    font-family: 'Archivo Black Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 172px;
    /* font-size: calc(112px + 60 * ((100vw - 320px) / (1280 - 320))); */
    line-height: 90%;
    /* or 155px */
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-image: url("../img/video/background.png");
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
 }
.video__button-text {
    margin-bottom: 10px;
}
.video__button {
    position: absolute;
    /* left: 204px; */
    left: 20.86%;
    /* top: 154px; */
    top: 30.51%;
}
@media (max-width:972px) {
    .video__header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video__header-item {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: center;
        background-image: url("../img/video/background-vertical.png");
        font-size: calc(112px + 60 * ((100vw - 320px) / (1280 - 320)));
   }
 .video__button {
    z-index: 1;
    left: 60%;
    right: 40%;
    top: 0%;
    }
}
@media (max-width: 860px) {
    .video {
        padding: 73px 0 300px 0;
    }
}
/* video end */

/* finish start */
.finish {
    width: 100%;
    min-height: 567px;
    background: url("../img/finish/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.finish__header {
    float: left;
    position: relative;
    bottom: 76px;
    left: 53%;
    width: 35.703%;
}
.finish__container {
    padding: 72px 60px 64px 60px;
    background: #FFFFFF;
    box-shadow: 10px 10px 65px rgba(7, 13, 19, 0.1);
}
.finish__link-text {
    font-size: 16px;
}
.finish__link::after {
    margin-top: 8px;
    content: " ";
    display: block;
    height: 2px;
    background-color:#214AC2;
    width: 116px;
}
.finish__header-text {
    /* margin-bottom: 9.94%; */
    margin-bottom: 40px;
    font-family: "Archivo Black Regular";
    font-style: normal;
    font-weight: normal;
    /* font-size: 32px; */
    font-size: calc(18px + 14 * (100vw / 1280));
    /* line-height: 90%; */
		line-height: 109%;
    /* or 29px */
    color: #070D13;
    text-transform: uppercase;
    word-wrap: break-word;
}
.clearfix {
    clear: both;
}
@media (max-width: 1100px) {
		.finish__header {
				left: 41%;
				width: 50.703%;
		}
}
@media (max-width: 860px) {
    .finish {
        position: relative;
        /* overflow: hidden; */
    }
    .finish__header {
        /* position: absolute; */
				float: none;
				/* position: static; */
				position: relative;
        /* float: left; */
        width: 95%;
        left: 0;
        /* right: 0; */
        /* right: 20px; */
        /* margin-bottom: 218px; */
        margin: 0 20px 218px 20px;
				margin: 0 auto 218px auto;
        /* padding: 0 20px; */
        bottom: 167px;
        /* overflow: hidden; */
    }
    /* .finish__container {
        margin: 0px 20px;
    } */
}
@media (max-width: 400px) {
	.finish__container {
	    padding: 40px 40px 40px 40px;;
		}
}
/* finish end */

/* footer start */
.footer {
    background: #020911;
    /* padding: 3.6% 0 3.15% 0; */
    padding: 46px 0 3.15% 0;

}
.footer__wrapper {
    max-width: 1044px;
    margin-right: 13%;
    margin-left: 7.8%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
.footer__nav {
    width: 30%;
}
.menu__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu__column {
    display: flex;
    flex-direction: column;
}
.footer__conteiner {
    display: flex;
    justify-content: space-between;
}
.menu__title {
    font-family: 'Archivo Black Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 90%;
    /* identical to box height, or 13px */
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);

}
.menu__item {
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 90%;
    /* or 14px */
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer__menu-title {
    margin-bottom: 15px;
}
.footer__menu-item {
    margin-bottom: 15px;
    transition: color .3s ease-in-out;
}
.menu__column a:last-child {
    margin-bottom: 0;
}
.footer__menu-item:hover {
    color: #837E7E;
}
.footer__copyraight-block {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    width: 75.0%;

}

.footer__select-block {
    position: relative;
}
.footer__select-block::after {
    display: block;
    position: absolute;
    z-index: 1;
    top: 1.8px;
    left: 55px;
    content: " ";
    height: 5.66px;
    width: 5.66px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    pointer-events: none;
    /* transition: opacity .3s ease-in-out; */
}
/* .footer__select-block::after:hover {
    opacity: 1;
} */
.footer__select {
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid transparent;
    width: 66px;
    transition: opacity .3s ease-in-out;
}
.footer__select:hover {
    opacity: 1;
}
.footer__select:focus {
    outline: 0;
    -moz-outline: 0;
    border-color: #020911;
}
.footer__select_color {
    background:#020911;
}
.copyraight__item {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 90%;
    /* or 14px */
    color: #FFFFFF;
    opacity: 0.3;
}
.links__item {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 90%;
    /* identical to box height, or 13px */
    color: #FFFFFF;
    opacity: 0.4;
    text-decoration: none;
}
.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 56.2%;
}
.footer__links-item {
    transition: opacity .5s ease-in-out;
}
.footer__links-item:hover {
    opacity: 1;
}
@media(min-width: 1280px) {
    .footer__wrapper {
        max-width: none;
        min-width: 1044px;
    }
 }
@media(max-width: 1200px) {
    .footer__nav {
        width: 40%;
    }
    .footer__links {
        width: 63.2%;
    }
}
@media(max-width: 1086px) {
    .footer__copyraight-block {
        width: 85.0%;
    }
    .footer__links {
        width: 67.9%;
    }
}

@media(max-width: 988px) {
    .footer__conteiner {
        flex-wrap: wrap;
    }
    .footer__logo {
        width: 100%;
        margin-bottom: 10%;
    }
    .footer__nav {
        width: 50%;
    }
}
@media(max-width: 860px) {
    .footer__wrapper {
        max-width: 1044px;
        padding: 0 15px;
        margin: 0 auto;
    }
}
@media(max-width: 710px) {
    .footer {
        padding: 46px 0 27px 0;
    }
    .footer__copyraight-block {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer__copyright {
        order: 2;
    }
    .footer__links {
        order: 1;
        flex-wrap: wrap-reverse;
        width: 51%;
        margin-bottom: 10%;

    }
    #footer__links-item-three {
        flex-grow: 12;
        order: 3;
        margin-bottom: 12%;
    }
    .footer__links-item-two {
        order: 4;
    }
    .footer__select-block {
        order: 2;
    }

    .footer__links-item-one {
        order: 1;
    }
}
@media(max-width: 650px) {
    .footer__nav {
        width: 57%;
    }
}
@media(max-width: 596px) {
    .footer__nav {
        width: 60%;
    }
}
@media(max-width: 538px) {
    .footer__conteiner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer__links {
        width: 68%;
    }
    #footer__links-item-three {
        margin-bottom: 22%;
    }
    .footer__nav {
        margin-top: 2%;
        width: 70%;
    }
    .footer__follow-us {
        margin-top: 10%;
    }
}
@media(max-width: 476px) {
    .footer__nav {
        width: 80%;
    }
}
@media(max-width: 416px) {
    .footer__nav {
        width: 90%;
    }
}
@media(max-width: 388px) {
    .footer__nav {
        width: 100%;
    }
    .footer__links {
        width: 85%;
        margin-bottom: 15%;
    }
}
@media(max-width: 346px) {
    .footer__nav {
        margin-top: 20%;
    }
    .footer__follow-us {
        margin-top: 25%;
    }
    .menu__row {
        flex-direction: column;
    }
    .footer__nav div:nth-child(2) div:nth-child(1){
        margin-bottom: 15px;
    }
    .footer__conteiner {
        margin: 0 auto;
    }
    .footer__copyraight-block {
        width: 100%;
        margin-top: 12%;
    }
    .footer__links {
        width: 94%;
        margin-bottom: 15%;
        margin-top: 15%;
        margin: 0 auto;
        text-align: center;
    }
    .footer__copyright {
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }
}

/* footer end */
